*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}
.container{
    position: relative;
    background-color: aqua;
    border-radius: 80px;
    border: rgb(0, 0, 0) 5px double;

}